*{
    margin: 0;
    padding: 0;
}


.root-container{
    width: 100vw;
    height: 80vh;
    /* border: 2px solid red; */
    overflow: scroll;
}

.header{
   
    display: flex;
    position: sticky;
    top: 0px;
    background-color: white;
    width: fit-content;
    font-family: main-font;
}

.header > div:nth-child(1){
    position: sticky;
    left: 0;
    top: 0;
    background-color: white;
 
}

.header-cell{
    
 
   
    text-align: center;
    color: #444746;
}

.body{
    display: flex;
    width: fit-content;
}

.sno{
    position: sticky;
    left: 0px;
    background-color: white;
}

.sno-cell{
    
   
    text-align: center;
}

.main{

    height: 100px;
   
}

.cell{
    min-width: 150px;
    padding: 5px;
    border: 1px solid #C4C7C5;
    font-family: main-font;
    color: black;
    /* font-size: 1.4em; */
}

.row{
    display: flex;
}

@font-face {
    font-family: main-font;
    src: url(./raw/main-font.ttf);
}

.options{
    display: flex;
    width: 80vw;
    margin: auto;
    gap: 10px;
    justify-content: center;
    /* border: 2px solid red; */
    padding: 20px 10px;
    align-items: center;
}
.options > input, .options > select{
    flex-grow: 1;
}
.options > .material-symbols-outlined{
    font-size: 30px ;
}

.bottom-section{
    display: flex;
    gap: 20px;
    margin: 20px;
    align-items: center;
}

.bottom-section input{
    flex-grow: 1;
    padding: 10px;
}

#active-cell{
    outline: 2px solid gray;
    padding: 5px 10px;
    background-color: rgb(238, 237, 237);
}

.option-btn{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.option-btn:hover{
    background-color: rgb(226, 224, 224);
}

.hidden-input{
    width: 0;
    height: 0;
}


.hidden-input:checked + label{
    background-color:rgb(226, 224, 224);
    font-family: Georgia, 'Times New Roman', Times, serif;
}